@import "../../styles/colors.scss";

.login {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
}

.form {
    background: $dark-blue;
    height: 400px;
    width: 480px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 4px 30px -5px rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &_header {
        margin-top: 20px;
    }
}

.input_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 340px;

    &__icon {
        position: absolute;
        margin: 12px 0 0 8px;
    }

    &__field {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__password {
        margin-left: 310px;
        cursor: pointer;
    }
}

.input__control,
.form__button {
    letter-spacing: 1.3px;
}

.input__control {
    box-sizing: border-box;
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid $medium-dark-blue;
    color: $light-dark-blue;
    padding: 12px 6px 12px 36px;
    font-size: 19px;
    outline: none;
    caret-color: $blue;
}

.input__control::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.form__button {
    background: lighten($dark-blue, 5%);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    padding: 16px 36px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.65);
    transition: all 0.3s;
}

.form__button:hover {
    background: $blue;
    box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.65);
}

.login_links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        color: $light-dark-blue;
    }

    &__item {
        font-size: 19px;
        margin-bottom: 10px;
    }

    &__item:hover {
        text-decoration: underline;
    }
}

.error {
    border-bottom: 1px solid $error;
}

.alert {
    color: $error;
}
