@import url("https://fonts.googleapis.com/css?family=Dosis:300");

$white: #fff;
$border-color: #36404a1f;
$bg-color: #f5f5f5;
$dark-blue: #2a3142;
$medium-dark-blue: lighten(#2a3142, 25%);
$light-dark-blue: lighten(#2a3142, 65%);
$blue: #3bafda;
$error: #ff0000;