@import "../../styles/colors.scss";

.navigation {
    height: 100%;
    width: 240px;
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 50px;
        font-size: 20px;

        &__item {
            height: 50px;
            color: $light-dark-blue;
            font-family: noto sans, sans-serif;
            font-weight: 600;
            cursor: pointer;
        }

        &__item:hover {
            color: $white;
            transition: 0.5s;
            transform: translateX(10px);
        }
    }
}

.current {
    color: $white;
    transform: translateX(10px);
}
