@import "../../styles/colors.scss";

.personal {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    &_title {
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: $textSecondary;
        margin-bottom: 24px;
    }
    &_table {
        display: flex;
        flex-direction: column;

        &__data {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .hiden {
        display: none;
    }

    .form_footer {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__button {
            width: fit-content;
            height: fit-content;
            background: $peach;
            border-radius: 8px;
            border: none;
            padding: 12px 30px;
            font-family: "Montserrat";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: center;
            color: $textSecondary;
            cursor: pointer;
        }
    }
}
