@import "../../styles/colors.scss";

.button {
    height: 40px;
    width: 200px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;

    &__link {
        text-decoration: none;
        color: #3f3f44;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
    }
}

.button:hover {
    background-color: #cceabb;;
    transition: 0.5s;
}

.active {
    background-color: #cceabb;
}
