.main_layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1600px;

    &__nav {
        padding-top: 105px;
        width: 280px;
        margin-right: 35px;
        border-right: 1px solid rgba(63, 63, 68, 0.1);
        padding-right: 20px;
    }

    &__content {
        width: 1040px;
        margin-top: 70px;
    }

    &_profile {
        border-left: 1px solid rgba(63, 63, 68, 0.1);
        display: flex;
        align-items: flex-start ;
        justify-content: center;
        padding-top: 105px;
        width: 280px;
        margin-left: 35px;
        padding-left: 20px;
    }
}