@import "../../styles/colors.scss";

.content {
    width: calc(100% - 40px);
    height: fit-content;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 20px;
}